<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">活動時軸</h2>
                    <h3 class="section-subheading text-muted">每一次的出團都是新的體驗！</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/img01.png" alt="暑期營隊">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-08-17</h4>
                                    <h4 class="subheading">靈機一動樂高機器人</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">本學年第一場主題性親子營隊，藉由遊戲與程式設計的結合訓練小朋友邏輯，目地讓家長好好放下手邊工作陪伴身邊的小孩。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/img02.png" alt="仁愛之家">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-12-11</h4>
                                    <h4 class="subheading">資訊課程趣味競賽活動</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">隨著資訊的發達使用智慧型產品不再只是年輕人的專利，長輩們也能將這些智慧型產品帶來的便利融入生活中。</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/img03.png" alt="圖書館說故事">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-12-16</h4>
                                    <h4 class="subheading">燕巢圖書館說故事</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">說故事一直是我們長榮牧羊人的傳統，藉由電子書導讀讓小朋友能夠在圖書館度過快樂的週末。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/img04.png" alt="寒假營隊">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-03-10</h4>
                                    <h4 class="subheading">二仁攜手必有可乘之機</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">本學年第二場營隊，本次主題為大自然與飛機，帶領小朋友到高雄市茄萣區萣舢筏協會參觀二仁溪的環境生態以及人文變遷還有探索紅樹林，並藉由遊船體驗當地的生態棲息地。</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/img05.png" alt="仁愛之家">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2018-04-16</h4>
                                    <h4 class="subheading">3C課程與防詐騙宣導</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">本次仁愛之家是學年度的第二場活動，這次的主題是防詐騙宣導，我們藉由準備的影片讓長輩了解正確的防詐騙知識，並且與遊戲互動陪伴與關懷這些長者。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/about/img06.png" alt="仁愛之家">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2017-07 ~ 2018-05</h4>
                                    <h4 class="subheading">燕巢圖書館VR/AR導覽</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">此活動是為期一學年的計畫，藉由資訊應用及跨媒體整合，使用最新與熱門的技術為燕巢圖書館建立一套完善的導覽系統。</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>成
                                    <br>果
                                    <br>展</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>
