<!-- Services Section -->
<section id="services">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 text-center">
                <h2 class="section-heading">幸福存摺</h2>
                <h3 class="section-subheading text-muted">『因為投入，所以深入；因為關懷，所以開懷；因為付出，所以傑出』</h3>
            </div>
        </div>
        <div class="row text-center">
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-list-alt fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">總服務次數</h4>
                <!-- <p class="text-muted">1049 次</p> -->
                <!-- number animate -->
                <div><h1 class="num1" data-end-value="21" style="display: inline;">0 </h1> 次</div>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-users fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">總出隊人次</h4>
                <!-- number animate -->
                <div><h1 class="num2" data-end-value="214" style="display: inline;">0 </h1> 人次</div>
            </div>
            <div class="col-md-4">
                <span class="fa-stack fa-4x">
                    <i class="fa fa-circle fa-stack-2x text-primary"></i>
                    <i class="fa fa-hourglass-half fa-stack-1x fa-inverse"></i>
                </span>
                <h4 class="service-heading">總服務時數</h4>
                <!-- number animate -->
                <div><h1 class="num3" data-end-value="378" style="display: inline;">0 </h1> 小時</div>
            </div>
        </div>
    </div>
</section>
